---
layout: "base.njk"
hideSellingPoints: true
hideStoreInfo: false
hidePictureBanner: false
---

{% mycapture "head" %}
    <meta property="og:image" content="https://lou-marie.be/images/blog/{{ page.fileSlug }}.jpg">
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="630" />
    <meta property="og:image" content="https://lou-marie.be/images/blog/{{ page.fileSlug }}_sq.jpg">
    <meta property="og:image:width" content="630" />
    <meta property="og:image:height" content="630" />
    <meta property="og:type" content="article" />
{% endmycapture %}

<section class="hero-section mt-5 py-3">
    <div class="hero-content">
        <div class="container">
            <div class="row text-center">
                <div class="post-meta text-uppercase my-3">
                    <span class="post-category"><span class="meta-date">{{ postDate }}</span></span>
                </div>
                <h1 class="section-title text-center mt-4" data-aos="fade-up">
                    {{ title }}
                </h1>
                <nav class="breadcrumb justify-content-center">
                    <a class="breadcrumb-item" href="/">Start</a>
                    <span class="breadcrumb-item active" aria-current="page">
                        <a class="breadcrumb-item" href="/blog/">Blog</a>
                    </span>
                </nav>
            </div>
        </div>
    </div>
</section>

<section class="">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6 text-center">
                <p>{{ description }}</p>
            </div>
        </div>
    </div>
</section>

{{ content | safe }}
