---
layout: "base.njk"
hideSellingPoints: true
hideStoreInfo: true
hidePictureBanner: true
---

{% mycapture "head" %}
    <meta property="og:image" content="https://lou-marie.be/images/products/{{ id }}/{{ id }}_1sq.jpg">
    <meta property="product:brand" content="Lou-Marie fashion">
    <meta property="product:availability" content="in stock">
    <meta property="product:condition" content="new">
    <meta property="product:price:amount" content="{{ price }}">
    <meta property="product:price:currency" content="EUR">
    <meta property="product:retailer_item_id" content="{{ id }}">
    <meta property="product:gender" content="female">
    <meta property="product:age_group" content="adult">
{% endmycapture %}

<section class="bg-light py-5">
    <div class="container">
        <div class="row justify-content-center">
            <h1 class="section-title text-center mt-4">{{ title }}</h1>
            <div class="col-md-6 text-center" data-aos-delay="300">
                <p>{{ description }}</p>
                <p>
                    <a href="/kleding/" class="btn btn-dark text-uppercase mt-4">
                        Bekijk onze online collectie
                    </a>
                </p>
            </div>
        </div>
        <div class="row">
            <div class="collection-item d-flex flex-wrap my-5">
                <div class="col-md-6 column-container">
                    <div class="image-holder">
                        <img src="{{ image }}" alt="{{ title }}" class="product-image img-fluid ">
                    </div>
                </div>
                <div class="col-md-6 column-container bg-white">
                    <div class="collection-content p-5 m-0 m-md-5">
                        <h3 class="element-title text-uppercase">{{ price | currency }}</h3>
                        {{ content | safe }}

                        <h5>Beschikbaar in maten</h5>
                        <ul>
                            {% for size in sizes %}
                                <li>{{ size | product_size }}</li>
                            {% endfor %}
                        </ul>

                        <h5>Samenstelling</h5>
                        <ul>
                            {% for item in composition %}
                                <li>{{ item }}</li>
                            {% endfor %}
                        </ul>
                        <a id="add-to-cart"
                           target="_blank"
                           href="{{ stripeButton }}"
                           class="btn btn-success text-uppercase mt-4"
                           onclick="onAddToCart('{{ id }}', '{{ title }}', {{ price }})">
                            Bestel nu!
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="new-arrival" class="new-arrival product-carousel py-5 position-relative overflow-hidden">
    <div class="container">
        <div class="swiper product-swiper open-up" data-aos="zoom-out">
            <div class="swiper-wrapper d-flex">
                {% for image in extraImages %}
                    <div class="swiper-slide">
                        <div class="product-item image-zoom-effect link-effect">
                            <div class="image-holder position-relative">
                                <img src="{{ image }}" alt="{{ title }}" class="product-image img-fluid">
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>

{% mycapture "trackers" %}
    trackEvent('track', 'ViewContent', {
        content_ids: ['{{ id }}'],
        content_type: 'product',
    });
{% endmycapture %}

<script>
    gtag("event", "view_item", {
        currency: "EUR",
        value: {{ price }},
        items: [
            {
                item_id: "{{ id }}",
                item_name: "{{ title }}",
                price: {{ price }},
                quantity: 1,
            }
        ]
    });
</script>
