---
title: Algemene voorwaarden
description: "Lees hier de algemene voorwaarden van Lou-Marie fashion. Alles over bestellen, retourneren, betalen en meer, duidelijk uitgelegd."
layout: "base.njk"
hideSellingPoints: true
hideStoreInfo: true
hidePictureBanner: true
---

{% mycapture "head" %}
    <meta property="og:image" content="https://lou-marie.be/images/logo.png">
{% endmycapture %}

<section id="billboard" class="bg-light py-5">
    <div class="container">
        <div class="row justify-content-center">
            <h2 class="section-title text-center mt-4">Algemene voorwaarden</h2>
            <div class="col-md-6 text-center">
                <h5 class="widget-title text-uppercase mb-4">Ondernemingsgegevens</h5>
                <p>
                    Lou-Marie fashion<br>
                    Broeseinderdijk 9, 3910 Pelt (Neerpelt)<br>
                    E-mailadres: info@lou-marie.be<br>
                    Ondernemingsnummer: 0849.767.213 <br>
                    BTW-nummer: BE0849.767.213<br>
                </p>

                <h5 class="widget-title text-uppercase mb-4">Artikel 1: Algemene bepalingen</h5>
                <p>
                    Deze Algemene Voorwaarden ("Voorwaarden") zijn van toepassing op elke bestelling die wordt geplaatst
                    door een klant. Door een bestelling te plaatsen, bevestigt de Klant uitdrukkelijk dat hij/zij de
                    voorwaarden heeft gelezen en hiermee instemt.
                </p>

                <h5 class="widget-title text-uppercase mb-4">Artikel 2: Prijs</h5>
                <p>
                    Alle vermelde prijzen zijn in EURO, inclusief BTW en alle andere taksen. Eventuele leverings-, reservatie- of
                    administratieve kosten worden apart vermeld. De opgave van prijs slaat uitsluitend op de artikelen zoals omschreven.
                    De bijhorende foto’s zijn decoratief en kunnen elementen bevatten die niet inbegrepen zijn in de prijs.
                </p>

                <h5 class="widget-title text-uppercase mb-4">Artikel 3: Aanbod</h5>
                <p>
                    Onze collectie wordt met de grootst mogelijke zorg gepresenteerd, maar het is mogelijk dat de
                    aangeboden informatie soms onvolledig of onjuist is. Lou-Marie fashion kan niet aansprakelijk worden
                    gesteld voor kennelijke fouten of onvolledigheden. Heb je vragen over maten, kleuren,
                    beschikbaarheid, of levering? Neem dan gerust vooraf contact met ons op.
                </p>

                <h5 class="widget-title text-uppercase mb-4">Artikel 4: Online aankopen</h5>
                <p>De bestelprocedure verloopt via WhatsApp, Facebook Messenger of via onze website. Bij bestellingen
                    via WhatsApp of Facebook Messenger stuurt de Klant een bericht met de gewenste artikelen, waarna we
                    de beschikbaarheid bevestigen en een overzicht van de bestelling sturen. De Klant kan vervolgens
                    kiezen voor betaling via Payconiq of overschrijving.
                </p>
                <p>
                    Bij bestellingen via de website kan de Klant direct online betalen. Lou-Marie fashion behoudt zich
                    het recht voor om een bestelling te weigeren.
                </p>

                <p>Indien een artikel niet meer op voorraad blijkt, zullen we contact opnemen met de Klant en een
                    alternatief voorstellen of het geld terugstorten.
                </p>

                <h5 class="widget-title text-uppercase mb-4">Artikel 5: Levering en uitvoering</h5>
                <p>
                    Bestelde artikelen worden geleverd in België. Levering gebeurt binnen 30 dagen na ontvangst van de
                    bestelling, tenzij anders overeengekomen. Beschadigingen of tekortkomingen moeten direct gemeld
                    worden aan Lou-Marie fashion. Het risico van verlies of beschadiging gaat over op de Klant bij
                    ontvangst van de goederen.
                </p>

                <h5 class="widget-title text-uppercase mb-4">Artikel 6: Eigendomsvoorbehoud</h5>
                <p>
                    De geleverde artikelen blijven eigendom van Lou-Marie fashion totdat de volledige betaling is voldaan.
                </p>

                <h5 class="widget-title text-uppercase mb-4">Artikel 7: Herroepingsrecht</h5>
                <p>
                    De Klant heeft het recht om binnen 14 kalenderdagen zonder opgave van redenen de overeenkomst te
                    herroepen. Om dit te doen, dient de Klant ons via
                    <a href="https://wa.me/+320456890694" class="whatsapp-button" target="_blank">WhatsApp</a>
                    of e-mail te informeren over de beslissing om de artikelen te retourneren.
                </p>
                <p>
                    De Klant moet vervolgens de artikelen in hun oorspronkelijke staat en verpakking, inclusief alle
                    accessoires, binnen 14 kalenderdagen na de melding aan ons terugsturen. De kosten voor het
                    retourneren zijn voor rekening van de Klant. Zodra we de geretourneerde artikelen hebben ontvangen
                    en gecontroleerd, wordt het aankoopbedrag binnen 14 dagen terugbetaald. Artikelen die beschadigd of
                    niet meer in originele staat zijn, kunnen in waarde worden verminderd.
                </p>

                <h5 class="widget-title text-uppercase mb-4">Artikel 8: Garantie</h5>
                <p>
                    De wettelijke garantie bedraagt twee jaar vanaf de leveringsdatum. Commerciële garantievoorwaarden
                    worden apart vermeld. Defecten door verkeerd gebruik zijn uitgesloten van garantie.
                </p>

                <h5 class="widget-title text-uppercase mb-4">Artikel 9: Klantendienst</h5>
                <p>
                    We zijn bereikbaar via <a href="https://wa.me/+320456890694" class="whatsapp-button" target="_blank">WhatsApp</a>
                    of via e-mail op info@lou-marie.be. Klachten kunnen hieraan gericht worden.
                </p>

                <h5 class="widget-title text-uppercase mb-4">Artikel 10: Sancties voor niet-betaling</h5>
                <p>
                    Bij wanbetaling gelden de wettelijke regels. De Klant krijgt eerst een gratis herinnering, waarna
                    de openstaande bedragen verhoogd worden met rente en een forfaitaire vergoeding.
                </p>

                <h5 class="widget-title text-uppercase mb-4">Artikel 11: Privacy</h5>
                <p>
                    Lou-Marie fashion respecteert de AVG. Persoonsgegevens worden verwerkt voor het verwerken van
                    bestellingen, het leveren van gepersonaliseerde klantenservice, en het informeren van klanten over
                    onze nieuwste collecties en acties. De Klant heeft recht op inzage, correctie en verwijdering van
                    gegevens, en kan ook bezwaar maken tegen het gebruik van persoonsgegevens voor direct marketing.
                </p>

                <h5 class="widget-title text-uppercase mb-4">Artikel 12: Gebruik van cookies</h5>
                <p>
                    Onze website gebruikt functionele cookies. Voor andere cookies vragen we eerst uw toestemming.
                </p>

                <h5 class="widget-title text-uppercase mb-4">Artikel 13: Aantasting geldigheid - niet-verzaking</h5>
                <p>
                    Ongeldigheid van een bepaling tast de geldigheid van andere bepalingen niet aan. Het niet
                    afdwingen van rechten betekent geen afstand van rechten.
                </p>

                <h5 class="widget-title text-uppercase mb-4">Artikel 14: Wijziging voorwaarden</h5>
                <p>
                    Deze Voorwaarden kunnen worden aangevuld door andere voorwaarden, waarbij onderhavige Voorwaarden
                    primeren bij tegenstrijdigheid.
                </p>

                <h5 class="widget-title text-uppercase mb-4">Artikel 15: Bewijs</h5>
                <p>
                    De Klant aanvaardt dat elektronische communicaties en back-ups als bewijs kunnen dienen.
                </p>

                <h5 class="widget-title text-uppercase mb-4">Artikel 16: Toepasselijk recht – geschillen</h5>
                <p>
                    Het Belgisch recht is van toepassing. Bij geschillen zijn de rechtbanken van de woonplaats van de
                    Consument bevoegd, of het ODR-platform.
                </p>
            </div>
        </div>
    </div>
</section>
