---
title: Blog
description: "Blogs over mode, stylingtips en nieuwtjes van Lou-Marie fashion. Laat je inspireren en blijf op de hoogte van onze laatste trends!"
keywords: "mode-inspiratie, kledingstijlen, fashion tips, trends, damesmode blog, outfit ideeën, stijladvies, Lou-Marie fashion blog"
layout: "base.njk"
hideSellingPoints: true
hideStoreInfo: true
hidePictureBanner: true
---

{% mycapture "head" %}
    <meta property="og:image" content="https://lou-marie.be/images/logo.png">
{% endmycapture %}

<section  class="bg-light py-5">
    <div class="container">
        <div class="row justify-content-center">
            <h1 class="section-title text-center mt-4">
                Lou-Marie fashion blog
            </h1>
            <div class="col-md-6 text-center">
                <p>Hier delen we alles wat je nodig hebt om stijlvol en met vertrouwen door het seizoen te gaan.
                    Van de nieuwste trends in damesmode tot handige tips voor een geslaagde look</p>
            </div>
        </div>
    </div>
</section>

<div class="post-wrap my-5">
    <div class="container">
        <div class="row">
            <main class="post-list post-card-large col-md-8 offset-md-2">
                {%- for post in collections.blog -%}
                <article class="post-item mb-5 pb-5">
                    <div class="post-image">
                        <a href="{{ post.url }}" title="Lees het artikel {{ post.data.title }}">
                            <img src="/images/blog/{{ post.fileSlug }}.jpg" class="img-fluid" alt="{{ post.data.title }}">
                        </a>
                    </div>
                    <div class="post-content">
                        <div class="post-meta text-uppercase mt-5">
                            <span class="meta-date">{{ post.data.postDate }}</span>
                        </div>
                        <h1 class="section-title mt-4">
                            <a href="{{ post.url }}">{{ post.data.title }}</a>
                        </h1>
                        <p data-aos="fade-up">{{ post.data.description }}</p>
                    </div>
                </article>
                {%- endfor -%}
            </main>
        </div>
    </div>
</div>