---
title: Blog
layout: "base.njk"
hideSellingPoints: true
hideStoreInfo: true
hidePictureBanner: true
---

<section class="page-title py-5">
    <div class="container">
        <div class="row">
            <div class="d-flex flex-wrap flex-column justify-content-between align-items-center mt-5">
                <h1 class="section-title text-center mt-4" data-aos="fade-up">
                    Lou-Marie fashion blog
                </h1>
                <div class="col-md-6 text-center" data-aos="fade-up" data-aos-delay="300">
                <p>Hier delen we alles wat je nodig hebt om stijlvol en met vertrouwen door het seizoen te gaan.
                    Van de nieuwste trends in damesmode tot handige tips voor een geslaagde look</p>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="post-wrap my-5">
    <div class="container">
        <div class="row">
            <main class="post-list post-card-large col-md-8 offset-md-2">
                {%- for post in collections.blog -%}
                <article class="post-item mb-5 pb-5">
                    <div class="post-image">
                        <a href="{{ post.url }}">
                            <img src="/images/blog/{{ post.fileSlug }}.jpg" class="img-fluid" alt="{{ post.data.title }}">
                        </a>
                    </div>
                    <div class="post-content">
                        <div class="post-meta text-uppercase mt-5">
                            <span class="meta-date">{{ post.data.postDate }}</span>
                        </div>
                        <h1 class="section-title text-center mt-4">
                            <a href="{{ post.url }}">{{ post.data.title }}</a>
                        </h1>
                        <p data-aos="fade-up">{{ post.data.description }}</p>
                    </div>
                </article>
                {%- endfor -%}
            </main>
        </div>
    </div>
</div>