---
title: Cadeaubon
description: "Geef de perfecte feestdagencadeau met een Lou-Marie fashion cadeaubon! 🎁 Bestel eenvoudig via WhatsApp en laat haar zelf haar favoriete stijl kiezen. Makkelijk, stijlvol en altijd raak!"
keywords: "cadeaubon, Lou-Marie fashion, feestdagen cadeau, cadeau voor haar, stijlvol cadeau, gift voucher, damesmode, cadeau-idee, cadeaukaart, modieuze cadeaubon, kerstcadeau, cadeautip vrouwen, fashion cadeau."
layout: "base.njk"
hideSellingPoints: false
hideStoreInfo: false
hidePictureBanner: true
---

{% mycapture "head" %}
    <meta property="og:image" content="https://lou-marie.be/images/logo.png">
{% endmycapture %}

<section id="billboard" class="bg-light py-5">
    <div class="container">
        <div class="row justify-content-center">
            <h2 class="section-title text-center mt-4">
                Geef het perfecte cadeau deze feestdagen! 🎁✨
            </h2>
            <div class="col-md-6 text-center">
                <p>
                    Op zoek naar een cadeau waar ze echt blij van wordt? Kies voor een cadeaubon van Lou-Marie fashion!
                    Met onze gift vouchers geef je haar de vrijheid om zelf haar favoriete items uit onze stijlvolle
                    collectie te selecteren.
                </p>
                <p>{% picture "/images/cadeaubon.jpg", "Cadeaubon van Lou-Marie fashion" %}</p>
                <h5 class="text-uppercase">Hoe bestel je?</h5>
                <p>Stuur ons een bericht via WhatsApp op <a aria-label="Chat on WhatsApp" href="https://wa.me/+320456890694">
                    045689069</a> en geef aan welk bedrag je op de cadeaubon wilt zetten. Wij zorgen voor de rest.
                    Je kan de cadeaubon afhalen in onze winkel.
                </p>
                <p>Let erop dat aankopen van cadeaubonnen kunnen niet worden terugbetaald.</p>
            </div>
        </div>
    </div>
</section>