---
title: Contact en openingsuren
description: "We zijn elke zaterdag open van 14:00 tot 16:00. Ben je op zaterdag niet vrij? Je kunt ook op afspraak langskomen!"
keywords: "contact Lou-Marie fashion, klantenservice, contact opnemen, damesmode hulp, modeadvies, vragen over bestellingen, fashion support, klantencontact"
layout: "base.njk"
hideSellingPoints: true
hideStoreInfo: true
hidePictureBanner: true
---

{% mycapture "head" %}
    <meta property="og:image" content="https://lou-marie.be/images/logo-1200x630.png">
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="630" />
    <meta property="og:image" content="https://lou-marie.be/images/logo.png">
    <meta property="og:image:width" content="1563" />
    <meta property="og:image:height" content="1563" />
{% endmycapture %}

<section id="billboard" class="bg-light py-5">
    <div class="container">
        <div class="row justify-content-center">
            <h2 class="section-title text-center mt-4">Contact en openingsuren</h2>
            <div class="col-md-6 text-center">
                <p>We zijn elke zaterdag open van 14:00 tot 16:00. Ben je op zaterdag niet vrij? Je kunt ook op afspraak
                    langskomen, zodat je rustig kunt winkelen op een moment dat jou het beste uitkomt.
                </p>
                <h5 class="text-uppercase">Ons adres</h5>
                <p>Broeseinderdijk 9<br>
                    3910 Pelt<br>
                    <a href="mailto:info@lou-marie.be" class="item-anchor">info@lou-marie.be</a><br>
                    BTW: BE0849.767.213<br>
                </p>
                <p><a aria-label="Chat on WhatsApp" href="https://wa.me/32456890694">
                    <img alt="Chat on WhatsApp" src="/images/WhatsAppButtonGreenLarge.svg" />
                    </a>
                </p>
            </div>
        </div>
    </div>
</section>
