---
title: Contact en openingsuren
description: "We zijn elke zaterdag open van 14:00 tot 16:00. Ben je op zaterdag niet vrij? Je kunt ook op afspraak langskomen!"
keywords: "contact Lou-Marie fashion, klantenservice, contact opnemen, damesmode hulp, modeadvies, vragen over bestellingen, fashion support, klantencontact"
layout: "base.njk"
hideSellingPoints: true
hideStoreInfo: true
hidePictureBanner: true
---

{% mycapture "head" %}
    <meta property="og:image" content="https://lou-marie.be/images/logo.png">
{% endmycapture %}

<section id="billboard" class="bg-light py-5">
    <div class="container">
        <div class="row justify-content-center">
            <h2 class="section-title text-center mt-4">Contact en openingsuren</h2>
            <div class="col-md-6 text-center">
                <p>We zijn elke zaterdag open van 14:00 tot 16:00. Ben je op zaterdag niet vrij? Je kunt ook op afspraak
                    langskomen, zodat je rustig kunt winkelen op een moment dat jou het beste uitkomt.
                </p>
                <h5 class="text-uppercase">Ons adres</h5>
                <p>Broeseinderdijk 9<br>
                    3910 Pelt<br>
                    <a href="mailto:info@lou-marie.be" class="item-anchor">info@lou-marie.be</a><br>
                    BTW: BE0849.767.213<br>
                </p>
                <p><a aria-label="Chat on WhatsApp" href="https://wa.me/+320456890694">
                    <img alt="Chat on WhatsApp" src="/images/WhatsAppButtonGreenLarge.svg" />
                    </a>
                </p>
                <h2 class="section-title text-center mt-4">Uitgebreide openingsuren voor de feestdagen</h2>
                <p>De feestdagen staan voor de deur, en bij Lou-Marie fashion helpen we jou om de perfecte feestoutfit
                    te vinden. Daarom hebben we voor de maand December onze openingsuren uitgebreid.
                    Je kunt buiten deze tijdstippen ook nog op afspraak langskomen.</p>
                <picture>
                    <source srcset="/images/openingsuren-feestdagen.webp" type="image/webp">
                    <img src="/images/openingsuren-feestdagen.jpg" alt="Openingsuren maand December Lou-Marie fashion" loading="lazy" class="product-image img-fluid">
                </picture>
            </div>
        </div>
    </div>
</section>