---
title: Bedankt voor je aankoop
layout: "base.njk"
eleventyExcludeFromCollections: true
---

<section class="bg-light py-5">
    <div class="container">
        <div class="row justify-content-center">
            <h2 class="section-title text-center mt-4" data-aos="fade-up">{{ title }}</h2>
            <div class="col-md-6 text-center" data-aos="fade-up" data-aos-delay="300">
                {% set productId = queryParams.productId %}
                {% if productId %}
                    test
                    <p>No product selected.</p>
                {% endif %}

                <p>Je bestelling is met zorg ontvangen, en we gaan meteen voor je aan de slag om alles in orde te maken.
                    Hieronder vind je de belangrijkste informatie over de verzending:
                </p>

                <h5 class="text-uppercase">Belangrijk om te weten</h5>
                <p>
                    Je ontvangt <strong>geen bevestiging</strong> per mail.
                </p>
                <h5 class="text-uppercase">Levertijd</h5>
                <p>
                    Heb je voor 16:00 uur besteld? Dan ontvang je je pakket meestal de volgende dag, ook op zaterdag!
                    Heb je na 16:00 uur besteld? Dan wordt je pakket de eerstvolgende werkdag verstuurd.
                </p>
                <p>Let op: in drukke periodes kan de levering langer duren.</p>

                <h5 class="text-uppercase">Volg je bestelling</h5>
                <p>
                    Zodra je pakket verzonden is, ontvang je een bevestiging via e-mail of WhatsApp met een
                    trackingnummer, zodat je de levering kunt volgen.
                </p>
                <p>
                    Heb je vragen over je bestelling? Neem gerust contact met ons op via:
                    <br>
                    <br>
                    E-mail: <a href="mailto:info@lou-marie.be" class="item-anchor">info@lou-marie.be</a><br>
                    WhatsApp: <a aria-label="Chat on WhatsApp" href="https://wa.me/+320456890694">
                        +320456890694
                    </a>
                </p>
            </div>
        </div>
    </div>
</section>
<script>
    const params = new URLSearchParams(window.location.search);
    const productId = params.get("productId");
    const sessionId = params.get("sessionId");
    if (productId && sessionId) {
        fetch('/products.json')
            .then(response => response.json())
            .then(data => {
                const product = data.products.find(p => p.productId === productId);
                if (product) {
                    trackEvent(
                        'track',
                        'Purchase', {
                            currency: "EUR",
                            value: product.price
                        },
                        {
                            eventID: sessionId
                        }
                    );

                    trackGTagEvent("event", "purchase", {
                        currency: "EUR",
                        value: product.price,
                        transaction_id: sessionId,
                        items: [
                            {
                                item_id: product.productId,
                                item_name: product.title,
                                price: product.price,
                                quantity: 1,
                            }
                        ]
                    });
                }
            });

    }
</script>