---
title: Veelgestelde vragen
description: "Heb je vragen over een product of hulp nodig bij het kiezen van de juiste maat? We helpen je graag verder!"
keywords: "veelgestelde vragen Lou-Marie, klantenservice, bestelproces, retourbeleid, verzendinformatie, damesmode vragen, Lou-Marie hulp"
layout: "base.njk"
hideSellingPoints: true
hideStoreInfo: true
hidePictureBanner: true
---

{% mycapture "head" %}
    <meta property="og:image" content="https://lou-marie.be/images/logo-1200x630.png">
{% endmycapture %}

<section id="billboard" class="bg-light py-5">
    <div class="container">
        <div class="row justify-content-center">
            <h2 class="section-title text-center mt-4">Veelgestelde vragen</h2>
            <div class="col-md-6 text-center">
                <p>
                    Heb je vragen over een product of hulp nodig bij het kiezen van de juiste maat?
                    Stuur een berichtje via
                    <a href="https://wa.me/32456890694" class="whatsapp-button" target="_blank">WhatsApp</a> of
                    een mailtje naar <a href="mailto:info@lou-marie.be" class="item-anchor">info@lou-marie.be</a> en ik
                    help je graag verder.
                </p>
                <p>
                    Misschien staat je vraag al bij de veelgestelde vragen hieronder!
                </p>

                <h4 class="widget-title mt-5 mb-4">
                    Bezoek & afspraak
                </h4>
                <h5 class="widget-title mb-4">
                    Ik voel me misschien een beetje ongemakkelijk om op afspraak langs te komen.
                </h5>
                <p>
                    Dat is helemaal begrijpelijk! Veel mensen voelen zich in het begin misschien een beetje
                    ongemakkelijk, maar wees gerust: er is absoluut geen verplichting en het is helemaal vrijblijvend.
                    We willen dat je je op je gemak voelt en de tijd hebt om rustig te winkelen zonder druk.
                    Neem gerust contact met ons op, we maken er een gezellige ervaring van! 😊
                </p>

                <h5 class="widget-title mb-4">
                    Kan ik op afspraak langskomen buiten de openingsuren?
                </h5>
                <p>
                    Ja, graag zelfs! We bieden de mogelijkheid om buiten de reguliere openingsuren op afspraak langs
                    te komen. Neem contact met ons op via WhatsApp of e-mail en we plannen graag een moment dat voor
                    jou past.
                </p>

                <h5 class="widget-title mb-4">
                    Kan ik met een paar vriendinnen komen shoppen?
                </h5>
                <p>
                    Je kunt een private shopping sessie boeken voor jou en 3 tot maximaal 4 vriendinnen.
                    Tijdens jullie bezoek is de winkel exclusief voor jullie gereserveerd. Geniet van een gezellige
                    sfeer, een glaasje rosé, en 10% korting op jullie aankopen bij een gezamenlijke besteding van
                    minimaal €200.
                </p>

                <h5 class="widget-title mb-4">
                    Is de trap moeilijk begaanbaar?
                </h5>
                <p>Onze trap is vrij steil, dus als je moeite hebt met traplopen, laat het ons dan weten. We zorgen
                    ervoor dat we je op een andere manier kunnen helpen, zodat je je comfortabel kunt voelen tijdens
                    je bezoek.
                </p>
                <h4 class="widget-title mt-5 mb-4">
                    Online bestellen & betalen
                </h4>
                <h5 class="widget-title mb-4">
                    Hoe plaats ik een bestelling?
                </h5>
                <p>
                    Simpel! Stuur ons een WhatsApp-bericht met jouw keuze(s). Je mag ook een screenshot meesturen van
                    het product. Je ontvangt een bevestiging van je bestelling en wij laten weten of het product op
                    voorraad is. Vervolgens bespreken we de verzendmethode en betalingsopties
                    (overschrijving of Payconiq).
                </p>
                <p>
                    Na betaling wordt je bestelling netjes ingepakt en verzonden. Je ontvangt hiervan een bevestiging
                    met een track & trace-code. Heb je via overschrijving betaald? Dan wordt je bestelling verzonden
                    zodra het bedrag op onze rekening staat.
                </p>

                <h5 class="widget-title mb-4">
                    Hoe kan betalen?
                </h5>
                <p>In de winkel kun je betalen met <strong>cash</strong> of <strong>Payconiq</strong>. Heb je iets
                    online besteld? Dan kun je betalen via overschrijving of Payconiq.
                </p>

                <h5 class="widget-title mb-6">
                    Wat is de levertijd van mijn bestelling?
                </h5>
                <p>Bestel je voor 16:00 uur? Dan ontvang je je pakket meestal de volgende dag, ook op zaterdag!
                    Bestel je na 16:00 uur? Dan wordt je pakket de eerstvolgende werkdag verstuurd.
                </p>

                <h5 class="widget-title mb-4">
                    Is het mogelijk een product te reserveren?
                </h5>
                <p>Ja, dat is zeker mogelijk! Stuur een bericht via WhatsApp om het product te reserveren. Na
                    reservering ontvang je de betaalinstructies, en zodra de betaling is voltooid, is het artikel
                    voor jou gereserveerd. 😊
                </p>

                <h4 class="widget-title mt-5 mb-4">
                    Algemeen
                </h4>
                <h5 class="widget-title mb-4">
                    Waarom hebben jullie geen webshop?
                </h5>
                <p>
                    Die hebben we wel (<a href="/kleding/">hier</a>), maar met een beperkt deel van onze collectie. Wil
                    je meer zien of advies op maat? Stuur ons gerust een privébericht via WhatsApp of Facebook Messenger,
                    kom langs op afspraak, of bezoek ons tijdens onze openingsuren.
                </p>

                <h5 class="widget-title mb-4">
                    Welke maten hebben jullie in de winkel?
                </h5>
                <p>We bieden doorgaans de maten S (36/38), M (38/40), L (40/42) aan. Af en toe hebben we ook grotere
                    maten beschikbaar, afhankelijk van de collectie. Heb je een specifieke maat in gedachten? Laat het
                    ons weten, dan helpen we je graag verder!
                </p>
            </div>
        </div>
    </div>
</section>
