---
permalink: /google-merchant-feed.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0"?>
<rss xmlns:g="http://base.google.com/ns/1.0" version="2.0">
    <channel>
        <title>Lou-Marie fashion</title>
        <link>https://lou-marie.be/kleding/</link>
        <description>Bij ons vind je stijlvolle en betaalbare dameskleding voor elke gelegenheid.</description>
        {%- for product in collections.products -%}
        {%- for size in product.data.sizes -%}
        <item>
            <g:id>{{ product.data.id }}_{{ size }}</g:id>
            <g:identifier_exists>no</g:identifier_exists>
            <g:item_group_id>{{ product.data.id }}</g:item_group_id>
            <g:size>{{ size }}</g:size>
            <g:color>{{ product.data.googleProductColor }}</g:color>
            <g:material>{{ product.data.composition | material }}</g:material>
            <g:size_system>EU</g:size_system>
            <g:title>{{ product.data.title }}</g:title>
            <g:description>{{ product.data.description }}</g:description>
            <g:link>https://lou-marie.be/kleding/{{ product.data.id }}/</g:link>
            <g:image_link>https://lou-marie.be/images/products/{{ product.data.id }}_1sq.jpg</g:image_link>
            {%- for image in product.data.lifestyleImages -%}
            <g:lifestyle_image_link>{{ image }}</g:lifestyle_image_link>
            {%- endfor -%}
            <g:condition>new</g:condition>
            <g:availability>in stock</g:availability>
            <g:price>{{ product.data.price }} EUR</g:price>
            <g:age_group>adult</g:age_group>
            <g:gender>female</g:gender>
            <g:google_product_category>{{ product.data.googleProductCategory }}</g:google_product_category>
            <g:shipping>
                <g:country>BE</g:country>
                <g:service>Standaard</g:service>
                <g:price>6.50 EUR</g:price>
            </g:shipping>
        </item>
        {%- endfor -%}
        {%- endfor -%}
    </channel>
</rss>
