---
title: "Stijlvolle en betaalbare dameskleding"
description: "Lou-Marie fashion in Pelt: stijlvolle, betaalbare dameskleding. Ontdek onze collectie, winkelinfo en shop eenvoudig online!"
keywords: "Lou-Marie fashion, damesmode, stijlvolle kleding, betaalbare kleding, modetrends, vrouwenkleding, online boetiek"
layout: "base.njk"
slides:
  - title: "Tijdloze stijl"
    description: "Onze collecties bieden elegantie en veelzijdigheid. Stukken die je gemakkelijk combineert en jarenlang mooi blijven."
    image: "/images/products/0039/0039_1.jpg"
  - title: "Subtiele luxe"
    description: "Hoge kwaliteit met een vleugje klasse. Stijlvol, zonder overdaad, voor een verfijnde en zelfverzekerde uitstraling."
    image: "/images/products/0032/0032_1.jpg"
  - title: "Eenvoud met karakter"
    description: "Eenvoudig design met opvallende details. Tijdloze stukken die spreken zonder ooit saai te worden."
    image: "/images/products/0037/0037_1.jpg"
  - title: "Aandacht voor detail"
    description: "Van fijne afwerkingen tot mooie knoopsluitingen: elk item is zorgvuldig geselecteerd."
    image: "/images/products/0045/0045_1.jpg"
  - title: "Modern en vrouwelijk"
    description: "Een mix van moderne snits en vrouwelijke vormen. Perfect voor de vrouw die stijlvol en zelfverzekerd door het leven gaat."
    image: "/images/products/0035/0035_1.jpg"
---

{% mycapture "head" %}
  <meta property="og:image" content="https://lou-marie.be/images/logo.png">
{% endmycapture %}

<section id="billboard" class="bg-light py-5">
  <div class="container">
    <div class="row justify-content-center">
      <h1 class="section-title text-center mt-4">Lou-Marie fashion</h1>
      <div class="col-md-6 text-center">
        <p>Bij ons vind je stijlvolle en betaalbare dameskleding voor elke gelegenheid.
          We posten regelmatig foto's van onze collectie op <a href="https://www.facebook.com/lmarie.fashion/">Facebook</a> en
          <a href="https://www.instagram.com/loumarie.fashion/">Instagram</a>, dus volg ons om als eerste op de hoogte te
          zijn van nieuwtjes en trends!
        </p>
        <p>
          <a href="/kleding/" class="btn btn-dark text-uppercase mt-4">
            Bekijk onze online collectie
          </a>
        </p>
      </div>
    </div>
    <div class="row">
      <div class="swiper main-swiper py-4">
        <div class="swiper-wrapper d-flex border-animation-left">
          {%- for slide in slides -%}
          <div class="swiper-slide">
            <div class="banner-item image-zoom-effect">
              <div class="image-holder">
                {% picture slide.image, slide.title %}
              </div>
              <div class="banner-content py-4">
                <h5 class="element-title text-uppercase responsive-heading">
                  {{ slide.title }}
                </h5>
                <p class="responsive-paragraph">{{ slide.description }}</p>
              </div>
            </div>
          </div>
          {%- endfor -%}
          </div>
        </div>
        <div class="swiper-pagination"></div>
      </div>
      <div class="icon-arrow icon-arrow-left">
        <svg width="50" height="50" viewBox="0 0 24 24">
          <use xlink:href="#arrow-left"></use>
        </svg>
      </div>
      <div class="icon-arrow icon-arrow-right">
        <svg width="50" height="50" viewBox="0 0 24 24">
          <use xlink:href="#arrow-right"></use>
        </svg>
      </div>
    </div>
  </div>
</section>
