---
title: Onze kleding
layout: "base.njk"
hideSellingPoints: true
hideStoreInfo: true
hidePictureBanner: true
---

<section id="billboard" class="bg-light py-5">
    <div class="container">
        <div class="row justify-content-center">
            <h1 class="section-title text-center mt-4" data-aos="fade-up">Onze kleding</h1>
            <div class="col-md-6 text-center" data-aos="fade-up" data-aos-delay="300">
                <p>Hier vind je een kleine greep uit ons aanbod dat we ook online beschikbaar stellen. Onze volledige
                    collectie kun je bekijken op onze social media kanalen.</p>
            </div>
        </div>
        <div class="row" data-aos="fade-up">
            {%- for post in collections.products | randomOrder -%}
            <div class="col-md-4">
                <article class="post-item">
                    <div class="post-image position-relative">
                        <a href="{{ post.url }}">
                            <img src="{{ post.data.image }}" alt="{{ post.data.title }}" class="post-grid-image img-fluid">
                        </a>
                        <div class="overlay d-flex justify-content-center align-items-center">
                            <a href="{{ post.url }}" class="btn btn-dark text-uppercase">
                                Meer info bekijken
                            </a>
                        </div>
                    </div>
                    <div class="post-content d-flex flex-wrap gap-2 my-3">
                        <div class="btn-left">
                            <a href="{{ post.url }}" class="btn-link fs-6 text-uppercase item-anchor text-decoration-none">
                                {{ post.data.title }}
                            </a>
                        </div>
                        <p>{{ post.data.description }}</p>
                    </div>
                </article>
            </div>
            {%- endfor -%}
        </div>
    </div>
</section>

