---
title: Koppelverkoop
description: "Shop je favoriete items met kortingen tot wel -30%"
keywords: "contact Lou-Marie fashion, klantenservice, contact opnemen, damesmode hulp, modeadvies, vragen over bestellingen, fashion support, klantencontact"
layout: "base.njk"
hideSellingPoints: true
hideStoreInfo: true
hidePictureBanner: true
---

{% mycapture "head" %}
    <meta property="og:image" content="https://lou-marie.be/images/logo-1200x630.png">
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="630" />
    <meta property="og:image" content="https://lou-marie.be/images/logo.png">
    <meta property="og:image:width" content="1563" />
    <meta property="og:image:height" content="1563" />
{% endmycapture %}

<section id="billboard" class="bg-light py-5">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6 text-center">
                <h2 class="section-title text-center mt-4">Koppelverkoop met kortingen tot -30%</h2>
                <p>Shop je favoriete items met kortingen tot wel -30%</p>
                <img src="/images/koppelverkoop.gif" width="400" height="120" alt="Koppelverkoop bij Lou-Marie fashion" />

                <h3 class="section-title text-center mt-4">📅 Wanneer?</h3>
                <p>Zaterdag 21/12 van 13h tot 16h</p>
                <p>Maandag 23/12 van 10h tot 16h</p>
                <h3 class="section-title text-center mt-4">📍 Waar?</h3>
                <p>Broeseinderdijk 9, 3910 Pelt</p>
                <p>Je kunt ook op andere dagen op afspraak langskomen. Stuur een WhatsApp berichtje naar
                    <a aria-label="Chat on WhatsApp" href="https://wa.me/32456890694">
                        0456 890 694
                    </a></p>

                <h3 class="section-title text-center mt-4">✨ Shop met deze exclusieve kortingen</h3>
                <p><strong>1 stuk = -10%</strong><br>
                    <strong>2 stuks = -20%</strong><br>
                    <strong>3 stuks = -25%</strong><br>
                    <strong>5 stuks = -30%</strong>
                </p>
                <p>Korting is geldig op ALLE artikelen. Combineer vrijuit verschillende artikelen.</p>
                <h3 class="section-title text-center mt-4">Een kleine greep uit ons aanbod</h3>
                <p><strong>Niet alle artikelen staan online! Sommige pareltjes vind je alleen bij ons in de winkel.</strong></p>
                <p>
                    We posten regelmatig foto's van onze collectie op <a href="https://www.facebook.com/lmarie.fashion/">Facebook</a> en
                    <a href="https://www.instagram.com/loumarie.fashion/">Instagram</a>, dus volg onze boetiek om als eerste op de hoogte te
                    zijn van nieuwtjes en trends!
                </p>
            </div>
        </div>
    </div>
</section>

<section class="py-5">
    <div class="container">
        <div class="row">
            {%- for post in collections.products | randomOrder -%}
                <div class="py-4">
                    <div class="row d-flex">
                        <div class="col-md-3">
                            <div class="image-holder align-self-start">
                                {% picture post.data.image, post.data.title %}
                            </div>
                        </div>
                        <div class="col-md-9">
                            <div class="post-author-content">
                                <h5>{{ post.data.title }}</h5>
                                <p><s>{{ post.data.price | currency }}</s></p>
                                <ul>
                                    <li>bij 1 artikel = {{ (post.data.price * 0.9) | currency }}</li>
                                    <li>vanaf 2 artikelen = {{ (post.data.price * 0.8) | currency }}</li>
                                    <li>vanaf 3 artikelen = {{ (post.data.price * 0.75) | currency }}</li>
                                    <li>vanaf 5 artikelen = {{ (post.data.price * 0.70) | currency }}</li>
                                </ul>
                                <p>{{ post.data.description }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            {%- endfor -%}
        </div>
    </div>
</section>
