---
permalink: '/products.json'
---

{
  "products": [
    {% for product in collections.productJson %}
    {
      "productId": "{{ product.productId }}",
      "title": "{{ product.title }}",
      "sizes": [{% for size in product.sizes %}"{{ size }}"{% if not loop.last %}, {% endif %}{% endfor %}],
      "price": "{{ product.price }}"
    }{% if not loop.last %},{% endif %}
    {% endfor %}
  ]
}
