---
title: Verzenden
description: "Je pakket wordt snel en veilig verzonden via onze betrouwbare partner. Binnen 1 werkdag verzonden!"
keyword: "verzendinformatie, levering Lou-Marie fashion, snelle verzending, bezorging dameskleding, verzendopties, fashion online, verzendbeleid"
layout: "base.njk"
hideSellingPoints: true
hideStoreInfo: true
hidePictureBanner: true
---

{% mycapture "head" %}
    <meta property="og:image" content="https://lou-marie.be/images/logo.png">
{% endmycapture %}

<section id="billboard" class="bg-light py-5">
    <div class="container">
        <div class="row justify-content-center">
            <h2 class="section-title text-center mt-4">Verzenden</h2>
            <div class="col-md-6 text-center">
                <p>Je pakket wordt snel en veilig verzonden via onze betrouwbare partner. Bestel je voor 16:00 uur?
                    Dan sturen we je bestelling nog dezelfde dag op!
                </p>

                <h5 class="text-uppercase">Verzendkosten België</h5>
                Verzendkosten: {{ site.shippingCost | currency }}<br>
                <strong>Gratis</strong> verzending bij bestellingen vanaf {{ site.minimumOrderValueForFreeShipping | currency }}</p>

                <h5 class="text-uppercase">Levertijd</h5>
                <p>
                    Bestel je voor 16:00 uur? Dan ontvang je je pakket meestal de volgende dag, ook op zaterdag!
                    Bestel je na 16:00 uur? Dan wordt je pakket de eerstvolgende werkdag verstuurd.
                </p>
                <p>Let op: in drukke periodes kan de levering langer duren.</p>

                <h5 class="text-uppercase">Verzendmethoden</h5>
                <p>
                    Kies voor thuislevering of haal je pakket zelf op bij een afhaalpunt. Zo kun je de optie kiezen die
                    het beste bij je past en het meest milieuvriendelijk is!
                </p>

                <h5 class="text-uppercase">Volg je bestelling</h5>
                <p>
                    Zodra je bestelling onderweg is, ontvang je een track & trace link. Zo weet je altijd waar je
                    pakket zich bevindt.
                </p>
            </div>
        </div>
    </div>
</section>
